<?xml version="1.0"?>

<model>
  <name>Ground plane with Sarona texture</name>
  <version>1.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>  

  <author>
    <name>Barak</name>
    <email>barakr3@gmail.com</email>
  </author>

  <description>
    Sarona map model
  </description>
</model>
